
        body { font-family: 'Inter', sans-serif; }
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        /* Custom scrollbar for premium feel */
        ::-webkit-scrollbar { width: 6px; }
        ::-webkit-scrollbar-track { background: #f1f1f1; }
        ::-webkit-scrollbar-thumb { background: #c3c6d7; border-radius: 10px; }
        ::-webkit-scrollbar-thumb:hover { background: #737686; }
        
        .product-image-container {
            aspect-ratio: 4/5;
        }
